input {
	width: 400px;
	height: 28px;
	font-size: 14px;
}

.outline {
	margin: 20px;
	padding: 10px;
	outline: black 2px solid;
	width: 200px;
}

.name {
	font-weight: bold;
}

/* offscreen text */
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
}


.instant input.ng-invalid.ng-dirty {
    background-color: #FA787E;
}

.instant input.ng-valid.ng-dirty {
    background-color: #78FA89;
}
