<!doctype html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../styles.css" />
	</head>
	<body ng-app="myApp">
		<div ng-controller="myListCtrl">
			<!-- an input for filtering the results -->
			<label for='search'>Search:</label>
			<input id='search' ng-model="myFilter"/>
			<!-- the repeating section, filtered by the model myFilter -->
			<div ng-repeat="myPerson in myCollection | filter:myFilter">
				<h1>{{myPerson.name}}</h1>
				<p>{{myPerson.address}}</p>
				<p ng-show="myPerson.name === 'Ian'">Hi Ian</p>
			</div>
		</div>
		<script src="../bower_components/angular/angular.js"></script>
		<script src="ex3.js"></script>
	</body>
</html>
